*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff7ed;
}

img {
  width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

p {
  line-height: 1.5;
}
